<div class="container h-100">
  <div class="row h-100 my-auto align-middle">
    <div class="col-2"></div>
    <div class="col-8 mt-5 align-middle">
      <div class="jumbotron bg-dark text-center">
        <h1 class="text-light">Welcome to Cheap Soul Calibur</h1>
        <p class="text-light">A fighting game with very few buttons and no animation.
          BUT, you'll see numbers go down and a player win. Ready? </p>
        <button class="btn btn-danger btn-lg mx-auto mt-3 btn-block">FIGHT</button>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
</div>