<% if @game.status["winner"] > 0 %>
  <%= button_to 'View stats', fight_path, :method => :patch, class:"btn btn-block btn-dark btn-lg mt-3" %>
<% else %>
  <h2 class="text-center" id="battle">VERSUS</h2>
<% end %>